@*@model Contactform.Models.ContactForm
@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<form method="post" action="@Url.Action("Contact","Home")">
    <label for="Name">Name:</label>
    <input type="text" id="Name" name="Name" required />
    <br />
    <label for="Email">Email</label>
    <input type="email" id="Email" name="Email" required />
    <br />
    <label for="Body">Message</label>
    <textarea id="body" name="MessageContent"></textarea>

    <button type="submit">Submit </button>

</form>*@