<!DOCTYPE html>
<html lang="en">
<!--Credits for images (in order of appearance):
    Main:: Nasa.gov
    About:: Scott Ingram  https://flic.kr/p/iFDke
    Coding section:: https://flic.kr/p/dv6zgu
    Contact section:: https://flic.kr/p/j3To1u
    All Icons are under:: http://creativecommons.org/licenses/by/3.0/
    Theme is from Squad. Owner of page modified and added to CSS, and Scripts-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>B Settje Developer</title>


    <!-- Bootstrap Core CSS -->
    <link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css">

    <!-- Awesome Fonts -->
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/animate.css" rel="stylesheet" />
    <!-- Squad theme CSS -->
    <link href="~/Content/Site.css" rel="stylesheet">
    <link href="~/Content/default.css" rel="stylesheet">

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-custom">
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="#about">
                    <h1>Coder - Explorer </h1>
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#intro">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#service">Coding</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Section: intro -->
    <section id="intro" class="intro">

        <div class="slogan">
            <h2>Brandon <span class="text_color">Settje</span> </h2>
            <h4>"Somewhere, something incredible is waiting to be known." ~Carl Sagan</h4>
        </div>
        <div class="page-scroll">
            <a href="#about" class="btn btn-circle">
                <i class="fa fa-angle-double-down animated"></i>
            </a>
        </div>
    </section>
    <!-- /Section: intro -->
    <!-- Section: about -->
    <section id="about" class="home-section text-center">
        <div class="heading-about">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="wow bounceInDown" data-wow-delay="0.4s">
                            <div class="section-heading">
                                <h2>About me</h2>
                                <i class="fa fa-2x fa-angle-down"></i>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-lg-offset-5">
                    <hr class="marginbot-50">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <div class="wow bounceInUp" data-wow-delay="0.2s">
                        <div class="boxed-grey">
                            <div class="inner">
                                <h5>Sustainability - Future</h5>
                                <p class="subtitle">I have 3 chickens, with names, that provide me with a small sustainable food source. This is a small step in planning for my personal future. On a larger scale, my passion for training and mentoring others have a long and strong roothold. This preparation for the future has lead me to become extremely motivated by the technology that prepares us for the future. I will be fleshing out an idea for Microsoft HoloLens as soon as the dev kit opens.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <div class="wow bounceInUp" data-wow-delay="0.5s">
                        <div class="boxed-grey">
                            <div class="inner">
                                <h5>Explorer - Unknown</h5>
                                <p class="subtitle">Backpacking through hundreds of miles of Colorado, Wyoming, and Northwestern states backcountry, has left me with a passion for exploring my unknown. I love hiking through nature, taking in what this world has to offer, and experiencing it in a way that satisfies the mind. This hunger for the unknown drives me to see it. Drives me to create it.   </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <div class="wow bounceInUp" data-wow-delay="0.8s">
                        <div class="boxed-grey">
                            <div class="inner">
                                <h5>Inquisitive - Cogent</h5>
                                <p class="subtitle"> I have not been programming since I was 5. I did get a box of random computer parts from my brother when I was 11 and made my first computer with a 33mHz AM486 chip. Technology has been a tool for me ever since. From automating the family farm's 16x26 foot workshop door, building a chef style meal from scratch, or learning a complex laboratory position with no prior knowledge, my inquisitiveness keeps me learning and strengthening skills continuosly and thoroughly.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-scroll">
            <a href="#service" class="btn btn-circle">
                <i class="fa fa-angle-double-down animated"></i>
            </a>
        </div>
    </section>
    <!-- /Section: about -->
    <!-- Section: coding -->
    <section id="service" class="home-sectioncoding text-center">
        <div class="heading-about">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="wow bounceInDown" data-wow-delay="0.4s">
                            <div class="section-heading">
                                <h2>My Coding</h2>
                                <i class="fa fa-2x fa-angle-down"></i>
                            </div>
                            <div class="boxed-blackicons">
                                <div class="avatar"><img src="~/Content/CSharpicon.png" alt="" class="img-responsive img-circle" /></div>
                                <div class="avatar"><img src="~/Content/jQueryicon.png" alt="" class="img-responsive img-circle"></div>
                                <div class="avatar"><img src="~/Content/html5icon.png" alt="" class="img-responsive img-circle" /></div>
                                <div class="avatar"><img src="~/Content/CSS3icon.png" alt="" class="img-responsive img-circle" /></div>
                                <div class="avatar"><img src="~/Content/AngularJS64.png" alt="" class="img-responsive img-circle" /></div>
                                <div class="avatar"><img src="~/Content/JSicon.png" alt="" class="img-responsive img-circle" /></div>
                                <div class="avatar"><img src="~/Content/windows10icon.png" alt="" class="img-responsive img-circle" /></div>
                                <div class="avatar"><img src="~/Content/VS64.png" alt="" class="img-responsive img-circle"></div>
                                <div class="avatar"><img src="~/Content/msSQLicon.png" alt="" class="img-responsive img-circle" /></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-lg-offset-5">
                    <hr class="marginbot-50">
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="wow fadeInLeft" data-wow-delay="0.4s">
                        <div class="boxed-black">
                            <div class="coding-player">
                                <img src="~/Content/dogmayhem.gif" alt="Dog Mayhem gif" />
                            </div>
                            <div class="service-desc">
                                <h5>Dog Mayhem</h5>
                                <p>You're a dog, on a mission to find the yellow tennis balls. There is an army of vacuums out to get you though! collect more tennis balls for differnet endings, and find random hidden tennis balls to help your score reach new limits. The vacuums have advanced manuevering systems, they can move quickly after figuring out where they want to go.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="wow fadeInUp" data-wow-delay="1.0s">
                        <div class="boxed-black">
                            <div class="coding-player">
                                <img src="~/Content/PNgiver.gif" alt="Phone Number gif" />
                            </div>
                            <div class="service-desc">
                                <h5>Phone Number Translater</h5>
                                <p>Have an ad with a one of those 1-888 followed by slogan? plug it in and this program will tell you what the phone number is! This a project from a programming challenge. While there were no requirements besides the translation, my goal was to use one loop for the entire process.  </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="wow fadeInLeft" data-wow-delay="0.4s">
                        <div class="boxed-black">
                            <div class="coding-player">
                                <img src="~/Content/dogmayhem.gif" alt="Dog Mayhem gif" />
                            </div>
                            <div class="service-desc">
                                <h5>Dog Mayhem</h5>
                                <p>You're a dog, on a mission to find the yellow tennis balls. There is an army of vacuums out to get you though! collect more tennis balls for differnet endings, and find random hidden tennis balls to help your score reach new limits. The vacuums have advanced manuevering systems, they can move quickly after figuring out where they want to go.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-scroll">
            <a href="#contact" class="btn btn-circle">
                <i class="fa fa-angle-double-down animated"></i>
            </a>
        </div>
    </section>
    <!-- /Section: coding -->
    <!-- Section: contact -->
    <section id="contact" class="home-sectioncontact text-center">
        <div class="heading-contact">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="wow bounceInDown" data-wow-delay="0.4s">
                            <div class="section-heading">
                                <h2>Contact Me</h2>
                                <i class="fa fa-2x fa-angle-down"></i>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="widget-contact">
            <h5>Learn more about my coding and professional <br> aspects</h5>


            <a href="http://github.com/BrandonSettje" target="_blank"><img src="~/Content/GitHub.png" /></a>
            <br>
            <a href="http://Linkedin.com/in/bsettje" target="_blank"><img src="~/Content/LinkedIn.png" /></a>

        </div>
    </section>
    <!-- /Section: contact -->
</body>

</html>