<!DOCTYPE html>
<html lang="en">
<!--Credits for images (in order of appearance):
    Main:: Nasa.gov
    About:: Scott Ingram  https://flic.kr/p/iFDke
    Coding section:: https://flic.kr/p/dv6zgu
    Contact section:: https://flic.kr/p/j3To1u
    All Icons are under:: http://creativecommons.org/licenses/by/3.0/
    Theme is from Squad. Owner of page modified and added to CSS, and Scripts-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>B Settje Developer</title>


    <!-- Bootstrap Core CSS -->
    <link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css">

    <!-- Awesome Fonts -->
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/animate.css" rel="stylesheet" />
    <!-- Squad theme CSS -->
    <link href="~/Content/Site.css" rel="stylesheet">
    <link href="~/Content/default.css" rel="stylesheet">

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-custom">
    <nav class="navbar navbar-custom navbar-fixed-top width:100%" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="#about">
                    <h1>Coder - Explorer </h1>
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#intro">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#service">Coding</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Section: intro -->
    <section id="intro" class="intro">

        <div class="slogan">
            <h2>Brandon <span class="text_color">Settje</span> </h2>
            <h4>"Somewhere, something incredible is waiting to be known." ~Carl Sagan</h4>
        </div>
        <div class="page-scroll">
            <a href="#about" class="btn btn-circle">
                <i class="fa fa-angle-double-down animated"></i>
            </a>
        </div>
    </section>
    <!-- /Section: intro -->
    <!-- Section: about -->
    <section id="about" class="home-section text-center">
        <div class="heading-about">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="wow bounceInDown" data-wow-delay="0.4s">
                            <div class="section-heading">
                                <h2>About me</h2>
                                <i class="fa fa-2x fa-angle-down"></i>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-lg-offset-6">
                    <hr class="marginbot-50">
                </div>
            </div>
                <div class="col-xs-12 col-sm-6 col-md-6">
                    <div class="wow bounceInUp" data-wow-delay="1.0s">
                        <div class="boxed-grey">
                            <div class="inner">
                                <h5>Explorer - Unknown</h5>
                                <p class="subtitle">Backpacking through hundreds of miles of Colorado, Wyoming, and Northwestern states' backcountry, has left me with a passion for exploring my unknown. I love hiking through nature, taking in what this world has to offer, and experiencing it in a way that satisfies the mind. This hunger for the unknown drives me to see it, drives me to create it.   </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6">
                    <div class="wow bounceInUp" data-wow-delay="1.5s">
                        <div class="boxed-grey">
                            <div class="inner">
                                <h5>Inquisitive - Cogent</h5>
                                <p class="subtitle"> I received a box of random computer parts from my brother when I was 11 and made my first computer with a 33mHz AM486 chip. Technology has been a tool for me ever since. From building a chef style meal from scratch, or learning a complex laboratory position with no prior knowledge, my inquisitiveness keeps me learning and strengthening skills continuosly and thoroughly. This helps me view problems in a multi-faceted way, helping me solve problems or improve solutions.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-scroll">
            <a href="#service" class="btn btn-circle">
                <i class="fa fa-angle-double-down animated"></i>
            </a>
        </div>
    </section>
    <!-- /Section: about -->
    <!-- Section: coding -->
    <section id="service" class="home-sectioncoding text-center">
        <div class="heading-about">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="wow bounceInDown" data-wow-delay="0.4s">
                            <div class="section-heading">
                                <h2>My Coding Skills</h2>
                                <i class="fa fa-2x fa-angle-down"></i>
                            </div>
                            <div class="boxed-blackicons">
                                <div class="avatar"><img src="~/Content/CSharpicon.png" alt="" class="img-responsive img-circle" /></div>
                                <div class="avatar"><img src="~/Content/jQueryicon.png" alt="" class="img-responsive img-circle"></div>
                                <div class="avatar"><img src="~/Content/html5icon.png" alt="" class="img-responsive img-circle" /></div>
                                <div class="avatar"><img src="~/Content/CSS3icon.png" alt="" class="img-responsive img-circle" /></div>
                                <div class="avatar"><img src="~/Content/AngularJS64.png" alt="" class="img-responsive img-circle" /></div>
                                <div class="avatar"><img src="~/Content/JSicon.png" alt="" class="img-responsive img-circle" /></div>
                                <div class="avatar"><img src="~/Content/windows10icon.png" alt="" class="img-responsive img-circle" /></div>
                                <div class="avatar"><img src="~/Content/VS64.png" alt="" class="img-responsive img-circle"></div>
                                <div class="avatar"><img src="~/Content/msSQLicon.png" alt="" class="img-responsive img-circle" /></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-lg-offset-6">
                    <hr class="marginbot-50">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="wow fadeInLeft" data-wow-delay=".5s">
                        <div class="boxed-black">
                            <div class="coding-player">
                                <a href="https://github.com/BrandonSettje/DogMayhem/blob/master/CheeseFinder/Program.cs" target="_blank"><img src="~/Content/dogmayhem.gif" alt="Dog Mayhem gif" /></a>
                            </div>
                            <div class="service-desc">
                                <h5>Dog Mayhem <br> C# - Visual Studio 2013</h5>
                                <p>You're a dog, on a mission to find the yellow tennis balls. There is an army of vacuums out to get you though! Collect more tennis balls for different endings, and find random hidden tennis balls to help your score reach new limits. The vacuums have advanced manuevering systems, they can move quickly after figuring out where they want to go.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="wow fadeInUp" data-wow-delay="1.0s">
                        <div class="boxed-black">
                            <div class="coding-player">
                                <a href="https://github.com/BrandonSettje/DailyProgrammer18/blob/master/DailyProgrammer18/Program.cs" target="_blank"><img src="~/Content/PNgiver.gif" alt="Phone Number gif" /></a>
                            </div>
                            <div class="service-desc">
                                <h5>Phone Number Translater <br> C# - Visual Studio 2013</h5>
                                <p>Have an ad with a one of those 1-888 followed by slogan? Plug it in and this program will tell you what the phone number is! This is a project from a programming challenge. While there were no requirements besides the translation, my goal was to use one loop for the entire process. This was my first project in Visual Studio that I chose and implemented by myself. Next up is a program for those that want recipes based on country or region, with authentic ingredients, recipes, and a little history about the food.  </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-scroll">
            <a href="#contact" class="btn btn-circle">
                <i class="fa fa-angle-double-down animated"></i>
            </a>
        </div>
    </section>
    <!-- /Section: coding -->
    <!-- Section: contact -->
    <section id="contact" class="home-sectioncontact text-center">
        <div class="heading-contact">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="wow bounceInDown" data-wow-delay="0.4s">
                            <div class="section-heading">
                                <h2>Contact Me</h2>
                                <i class="fa fa-2x fa-angle-down"></i>
                                <h5>brandon.settje@gmail.com     -     720.675.7911 </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-lg-offset-5">
                    <hr class="marginbot-40">
                </div>
            </div>
            <div class="col-md-6">
                <div class="wow fadeInUp" data-wow-delay="1.0s">
                    <div class="boxed-white">
                        <form id="contact-form" method="post">
                            <div class="form-group">
                                <label for="name">
                                    Name
                                </label>
                                <input name="name" class="form-control" id="name" placeholder="Enter name" required="required" />
                            </div>
                            <div class="form-group">
                                <label for="name">
                                    Email Address
                                </label>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-envelope"></span>
                                    </span>
                                    <input name="email" type="email" class="form-control" placeholder="Enter email" required="required" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="name">
                                    Message
                                </label>
                                <textarea name="message" id="message" class="form-control" rows="9" cols="25" required="required"
                                          placeholder="Type Message"></textarea>
                            </div>

                            <button type="submit" class="btn btn-skin pull-right" id="btnContactUs">
                                Send Message
                            </button>
                        </form>

                        @if (ViewBag.Message != null)
                        {
                            <div>
                                @ViewBag.Message;
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="wow fadeInUp" data-wow-delay="1.0s">
                    <div class="boxed-white">
                        <div class="widget-contact">
                            <h5>Learn more about my coding and professional <br> aspects</h5>
                            <p>
                                <a href="~/Content/BsettjeResume.pdf" download="BrandonSettjesResume"><img src="~/Content/ResumeIcon.png" /></a>
                                <br>Download a PDF of my resume<br>
                                <br>
                                <a href="http://github.com/BrandonSettje" target="_blank"><img src="~/Content/GitHub.png" /></a>
                                <br>
                                <br>
                                <a href="http://Linkedin.com/in/bsettje" target="_blank"><img src="~/Content/LinkedIn.png" /></a>
                                <br>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /Section: contact -->
</body>

</html>